{% load static guitags collapsible_table %}
<!DOCTYPE html>
<html>
    <head>
        {% htmx %}
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <script type="text/hyperscript" src="{% static 'collapse/collapse._hs' %}"></script>
        <link rel="stylesheet" href="{% static 'collapse/collapse.css' %}">
        {% hyperscript %}
        {% gui %}
        {% bootstrap_icons %}
        {% collapsible_css %}
        {% global_css %}
    </head>
    <body id="whole">
        <div>{% include "gui/navbar.html" %}</div>
        <div>{% include "widgets/functionbar.html" %}</div>
        {% block contents %}{% endblock %}
        <div id="modals-here"></div>
    </body>
</html>
