<tr>
    <td>
        <div>{{ name }}</div>
        <div class="text-muted small">{{ help_text }}</div>
    </td>
    <td>{{ default }}</td>
    <td>
        <div class="small">
            {% if is_checkbox %}
                <div class="form-check form-switch">{{ input }}</div>
                <input type="hidden" id="{{ id }}_default" value="{{ default }}">
                <a href="#" _="on click set #{{ id }}.checked to {{ default|lower }}">Reset to default</a>
            {% else %}
                <div>{{ input }}</div>
                <a href="#"
                   _="on click halt the event set #{{ id }}.value to '{{ default }}'">Reset to default</a>
            {% endif %}
        </div>
    </td>
</tr>
