<head>
    {% load guitags %}
    {% bootstrap %}
    {% htmx %}
    {% gui %}
</head>
<body>
    <div id="modal-backdrop"
         class="modal-backdrop fade show"
         style="display:block"></div>
    <div id="modal"
         class="modal fade show"
         tabindex="-1"
         style="display:block">
        <div class="modal-dialog modal-dialog-centered {{ modal_extra_css }}">
            <div class="modal-content">
                {% block modal_contents %}{% endblock %}
            </div>
        </div>
    </div>
</body>
