{% extends "gui/modal.html" %}
{% block modal_contents %}
    <div class="m-1">
        <div class="h2 m-2">Add device</div>
        <form class="m-2" action="{% url 'DEVICES:add' %}" method="get">
            <div class="row mb-3">
                <label for="devicetype" class="col-sm-2 col-form-label">Devicetype:</label>
                <div class="col-sm-10">
                    <select class="form-select"
                            id="devicetype"
                            name="devicetype"
                            style="width:auto"
                            hx-get="{% url 'DEVICES:add' %}"
                            hx-target="#deviceform">
                        <option value="switch">Switch</option>
                        <option value="light">Light</option>
                    </select>
                </div>
            </div>
        </form>
        <div id="deviceform">{% include "widgets/crispy_form.html" %}</div>
    </div>
{% endblock %}
