{% extends "gui/modal.html" %}
{% block modal_contents %}
    <form method="post" action="{% url 'DEVICES:delete' pk=object.id %}">
        {% csrf_token %}
        <div class="modal-header">
            <h5 class="modal-title">Delete device?</h5>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete "{{ object }}"?</p>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Confirm" class="btn btn-primary">
            <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancel</button>
        </div>
    </form>
{% endblock %}
